@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Bebas Neue", cursive;
  font-size: 16px;
  background-color: #171719;
  color: white;
}

::-webkit-scrollbar-thumb {
  background-color: #e75626;
  border-radius: 2px;
}

::-webkit-scrollbar {
  width: 0.4rem;
}
